.video-section {
    text-align: center;
    padding: 50px 0;
  }
  
  .video-title-i {
    color: #ecf0f1;
    font-size: 1.5vw !important;
    margin-bottom: 3vw !important;
    font-family: 'Hagrid', sans-serif !important;
    overflow-wrap: break-word !important;
    max-width: 100% !important;
  }
  
  
  
  .tv-frame {
    position: relative;
    display: inline-block;
    width: 80vw;
    max-width: 640px;
    height: 45vw;
    max-height: 360px;
    background-color: #ecf0f1;
    border-radius: 36px;
    padding: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .tv-screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 24px;
  }
  
  .youtube-video {
    width: 100%;
    height: 100%;
    border: none;
  }

  .antenna-left, .antenna-right {
    position: absolute;
    bottom: 88%;
    width: 0.5vw;
    max-width: 4px;
    height: 9vw;
    max-height: 75px;
    background-color: #ecf0f1;
  }
  
  .antenna-left {
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }
  
  .antenna-right {
    right: 50%;
    transform: translateX(50%) rotate(45deg);
  }
  
  .tv-stand {
    position: absolute;
    bottom: -20px; 
    left: 50%;
    width: 18vw;
    max-width: 120px;
    height: 3vw;
    max-height: 20px;
    background-color: #ecf0f1;
    transform: translateX(-50%);
    border-radius: 10px;
  }

  .instructor-section {
    text-align: center;
    padding: 70px 0;
    background-color: #000000; 
  }
  
  .instructor-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff; 
  }
  
  .instructor-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .instructor-card {
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid red; 
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  
  .instructor-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px red; 
  }
  
  
  
  .instructor-card-image {
    height: 150px; 
    background-size: cover;
    background-position: center;
    flex-shrink: 0; 
  }

  .instructor-card-image-i {
    height: 150px; 
    background-size: cover;
    background-position: center bottom;
    flex-shrink: 0; 
  }
  
  .instructor-card-title {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .instructor-card-description {
    overflow-y: auto; 
    flex-grow: 1;
    padding: 0 15px 15px;
    font-size: 0.9em;
  }

  .qualification-section {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden; 
  }
  
  .qualification-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .qualification-card {
    border: 2px solid red;
    color: #fff;
    background-color: #000000;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .qualification-image-container {
    position: relative;
    margin-bottom: 20px;
    width: 50%;
  }
  
  .qualification-image {
    margin-top: 10%;
    width: 100%;
    height: auto;
  }

  .qualification-image-l {
    width: 100%;
    height: auto;
  }
  
  .qualification-overlay, .qualification-overlay-i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150%;
    height: auto;
    max-height: 16rem;
    background-color: rgba(72, 67, 67, 0.653);
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.2rem;
    overflow: hidden; 
  }
  
  .qualification-overlay ol, .qualification-overlay-i ol {
    padding-left: 20px;
    margin: 0;
  }
  
  .qualification-overlay li, .qualification-overlay-i li {
    list-style-position: inside;
  }
  
  .qualification-overlay-i {
    margin-top: 2rem;
    width: 150%;
    max-height: 24rem;
    margin-left: -26rem;
  }

  .image-title {
    position: absolute;
    top: 10%;
    left: 110%;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    width: 400px;
  }

  .image-title-i {
    position: absolute;
    top: 15%;
    right: 110%;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    width: 400px;
  }
  
  
  
  .qualification-image-container.left .qualification-overlay {
    right: -80%;
  }
  
  .qualification-image-container.right .qualification-overlay {
    left: -40%;
  }
  
  .qualification-image-container.right {
    float: right;
  }

  @keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .qualification-image-container.left {
    opacity: 0;
  }
  
  .qualification-image-container.right {
    opacity: 0;
  }
  
  .qualification-image-container.left.fade-in-element {
    animation: fadeInFromRight 1s forwards;
  }
  
  .qualification-image-container.right.fade-in-element {
    animation: fadeInFromLeft 1s forwards;
  }
  
  
  

  .application-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .application-wrapper {
    display: flex;
    position: relative;
  }
  
  .application-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 5%;
    bottom: 5%;
    width: 1.5px;
    background-color: #ff0000;
  }
  
  .application-image-container {
    flex: 1;
    position: relative;
    padding: 10px;
  }
  
  .application-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .application-button {
    background-color: #ff0000;
    color: #ecf0f1;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .application-text-content {
    flex: 1;
    padding: 10px;
  }
  
  .application-list {
    padding-left: 20px;
  }

  .application-title {
    margin-bottom: 25px; 
  }
  
  

  @media only screen and (max-width: 768px) {

    .application-wrapper {
      flex-direction: column;
    }
  
    .application-wrapper::before {
      left: 0;
      top: 50%;
      bottom: auto;
      width: 100%;
      height: 1.5px;
    }
  
    .application-image-container,
    .application-text-content {
      flex: none;
      width: 100%;
    }
  
    .application-button {
      top: auto;
      bottom: 6%;
    }

    .video-title-i {
      font-size: 16px !important;  
    }

    .antenna-left, .antenna-right {
      bottom: 88%; 
    }

    .tv-stand {
      bottom: -10px; 
    }

    .instructor-cards {
      grid-template-columns: 1fr;
    }

    .qualification-image-container {
      width: 100%;
      text-align: center;
    }
  
    .qualification-image {
      margin-top: 0;
      width: 100%;
    }
  
    .qualification-overlay,
    .qualification-overlay-i {
      position: static;
      width: 100%;
      transform: none;
      margin-top: 10px;
      overflow-y: auto;
    }
  
    .qualification-overlay-i {
      margin-left: 0;
    }
  
    .image-title, .image-title-i {
      position: static;
      width: auto;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .qualification-title {
      font-size: 1.2em;
    }
  
    .qualification-card {
      font-size: 0.9rem;
    }
  
    .qualification-overlay,
    .qualification-overlay-i {
      padding: 5px;
      font-size: 0.9rem;
    }
  
    .image-title, .image-title-i {
      font-size: 0.9rem;
    }
  }