@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Gotham', sans-serif;
}

body {
  background-color: #000;
}

@font-face {
  font-family: 'Hagrid';
  src: url('Hagrid.ttf'); 
  font-weight: bold;
  font-style: normal;
}

nav {
  background-color: #000000; 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-family: 'Gotham', sans-serif;
  margin-bottom: 0;
}

.hamburger-menu {
  position: absolute;
  top: 10px;
  right: 10px; 
  display: none;
  cursor: pointer;
}

.hamburger-menu img {
  width: 30px;
  height: auto;
}

.nav-links li a:hover {
  background-color: #f1f1f1;
  color: #000000; 
  border-radius: 15px; 
  padding: 10px 20px; 
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.dropdown-content li a {
  font-family: 'Gotham', sans-serif;
}


.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  border-radius: 4px; 
  top: 170%; 
  left: 0; 
  z-index: 1000; 
}

.nav-links .dropdown-content a {
  color: black;
  padding: 12px 16px; 
  text-decoration: none;
  display: block;
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}

.nav-links .dropdown-content a:last-child {
  border-bottom: none; 
}

.nav-links .dropdown.active > a {
  background-color: #f1f1f1; 
  color: #000000; 
  border-radius: 15px; 
  padding: 10px 20px; 
}

.nav-links .dropdown-content {
  list-style-type: none; 
  padding-left: 0; 
}

/* CSS */
.dropdown-toggle::after {
  content: "\25BE"; 
  color: white; 
  margin-left: 5px;
}

.dropdown-toggle:hover::after {
  color: #000000; 
}


.logo-section {
  display: flex;
  align-items: center; 
}

.logo {
  margin-right: -10px;
}

.logo-text {
  color: white;
  font-family: 'Hagrid', sans-serif !important;
}

.logo-text h1 {
  font-size: 1.5em; 
  margin: 0; 
  font-weight: bold;
}

.logo-text h2 {
  font-size: 1em; 
  margin: 0; 
  font-weight: bold;
}


.nav-links {
  padding-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  font-family: 'Gotham', sans-serif;
}

.nav-links li {
  padding: 10px 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links .dropdown {
  position: relative;
}


.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.nav-links .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.audio-control {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  display: flex;
  align-items: center;
}

.audio-label {
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.mute-button {
  padding: 5px 10px;
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}


.title-section {
  position: relative;
}


.video-title {
  color: #fff;
  font-size: 2.5rem; 
  margin: 1rem 0 0;
  padding: 1rem;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Playpen Sans', sans-serif;
  overflow: hidden; 
}

.title-section {
  text-align: center;
}

/* Laurel - Regular font for dare to lead */

.hoverable {
  font-family: 'Gotham', sans-serif;
  display: inline-block;
  transition: transform 0.3s, color 0.3s;
}

.hoverable:hover {
  transform: scale(1.2);
  color: #FF0000;
}

.video-iframe {
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 37.25vw;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  box-shadow: 0 0 10px 5px white;
}

.video-section {
  position: relative; 
  width: 100%;
  height: 80vh; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; 
  margin-top: 75px;
}


.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 10;
  cursor: default;
}

.video-container {
  position: relative;
  height: 315px;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}


.info-section {
  background-color: #000000; 
  height: 20vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto; 
}

.main-heading {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
}

.sub-heading {
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-size: 30px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background: linear-gradient(-45deg, #ff0000, #000000, #ff0000, #000000);
  background-size: 400% 400%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.modal-title {
  margin-top: 10px;
}

.modal-header {
  position: relative; 
  padding: 0; 
  border: none;
}

.modal-header img {
  width: 100%; 
  vertical-align: top; 
}

.modal-title {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  background: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  text-align: center; 
  padding: 10px; 
  box-sizing: border-box;
}

.modal-body {
  padding: 20px; 
}


.close-modal {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* .cards-section {
  background-color: #000000;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.card-grid {
  width: 70%; 
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

/* .card {
  display: flex; 
  background: linear-gradient(-45deg, #ff000050, #000000, #ff00004b, #000000);
  background-size: 400% 400%;
  color: white;
  border: 2px solid red;
  border-radius: 10px;
  overflow: hidden; 
  height: 200px; 
  position: relative; 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  animation: gradientBG 15s ease infinite;
  margin-bottom: 20px;
} */

/* new card grid */

.cards-section {
  background-color: #000000;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-grid {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(50% - 10px);
  display: flex; 
  background: #000;
  background-size: 400% 400%;
  color: white;
  border: 2px solid red;
  border-radius: 10px;
  overflow: hidden; 
  height: 225px; 
  position: relative; 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  animation: gradientBG 15s ease infinite;
  margin: 10px 0;
}




.card:hover {
  box-shadow: 0 0 20px #ff0000; 
  transform: scale(1.05);
}

@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.card-image {
  flex-basis: 20%; 
  position: relative; 
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 1s;
}

.card-image .overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(80, 80, 80, 0.5); 
  z-index: 1;
  transition: top 0.6s;
}

.card-image .card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  z-index: 2; 
}


.card-content {
  flex-basis: 80%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.read-more {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.read-more:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.read-more:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.join-button {
  top: 1rem;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #cb8f8f 0, #ff5454 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.join-button:focus {
  box-shadow: #e03c3c 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #844747 0 -3px 0 inset;
}

.join-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a84747 0 -3px 0 inset;
  transform: translateY(-2px);
}

.join-button:active {
  box-shadow: #e03c3c 0 3px 7px inset;
  transform: translateY(2px);
}


footer {
  background-color: #000000;
  color: white;
  padding: 20px 0; 
  text-align: center; 
  border-top:1.5px solid white;
  padding-top: 20px;
}

.footer-content h2 {
  font-family: 'Gotham', sans-serif;
}

.footer-content p, .footer-content .socials {
  margin: 0;
  padding: 5px 0;
}

.footer-content a {
  color: rgb(255, 0, 0); 
  text-decoration: none; 
}

.footer-content a:hover {
  text-decoration: underline; 
}

@media screen and (max-width: 1024px) and (min-width: 769px) {

  .more-dropdown {
    display: block !important; 
  }

  .nav-links > li:nth-child(n+6):nth-child(-n+9) {
    display: none;
  }
}

.split-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background-color: #000;
  border-top: 2px solid white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#animated-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-content {
  width: 100%;
  max-width: 70%; 
}

.left-content {
  font-family: 'Hagrid', sans-serif !important;
  font-size: 24px;
  position: relative;
  z-index: 2;
  overflow: hidden; 
}

.left-content .video-container {
  position: relative;
  padding-top: 56.25%; 
  height: 0;
}

.left-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-content h2,
.left-content h3 {
  color: #fff;
  margin: 20px 0;
}

.join-button {
  display: inline-block;
  font-size: 1.2em;
  color: white;
  background-color: #ff0000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.ball {
  position: absolute;
  animation: floatAnimation 6s infinite ease-in-out;
  width: 32px;  
  height: 32px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('MCJROTC2.png');
}


@keyframes floatAnimation {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}


/* Responsive Design */
@media screen and (max-width: 768px) {

  .video-overlay {
    height: 80%;
  }

  .audio-control {
    margin-top: -4rem !important;
  }

  .modal-content {
    width: 90%; 
    max-width: none;
  }
  
  .modal-title, .modal-body, .close-modal {
    padding: 10px;
  }

  .video-title {
    font-size: 1rem !important; 
    padding: 0.5rem !important; 
  }

  .video-title span[style] {
    font-size: 22px !important; 
  }

  .info-section .main-heading {
    font-size: 24px; 
    margin: 10px 0;
  }

  .info-section .sub-heading {
    font-size: 18px; 
    margin: 10px 0; 
  }

  .section-content {
    flex-direction: column;
  }

  .right-content {
    padding-top: 2rem !important;
  }

  .left-content, 
  .right-content {
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 2px solid white; 
  }

  .left-content {
    border-bottom: none; 
  }

  .video-container {
    width: 100%; 
    max-width: none;
  }

  .logo-section {
      flex-direction: column;
      align-items: flex-start; 
      margin-bottom: 15px; 
  }

  .nav-wrapper {
    flex-direction: column;
}

.hamburger-menu {
    display: block;
}

#mobile-nav {
    display: none;
    width: 100%;
}

.nav-links, .nav-links li {
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.nav-links li {
    padding: 10px 0; 
}

.nav-links li a {
    display: block; 
    width: 100%; 
    text-decoration: none;
}

.cards-section {
  padding: 10px; 
}

.card-grid {
  width: 100%; 
}

.card {
  flex-direction: column; 
  height: auto; 
}

.card-image,
.card-content {
  flex-basis: 100%; 
}
}

@media screen and (max-width: 600px) {
  .card {
    width: calc(100% - 20px); 
    margin: 10px auto; 
  }
}

@media screen and (max-width: 480px) {

  .modal-content {
    padding: 10px;
  }
  
  .modal-title {
    font-size: 18px;
  }
  
  .close-modal {
    padding: 8px 16px;
    font-size: 14px;
  }

  .video-title {
    font-size: 1rem !important; 
    padding: 0.5rem !important;
  }

  .video-title span[style] {
    font-size: 16px !important; 
  }


  .info-section .main-heading {
    font-size: 18px;
  }

  .info-section .sub-heading {
    font-size: 16px;
  }

  .card {
    width: calc(100% - 10px); 
    margin: 5px auto; 
  }
}